.Gallery-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;
    margin: 5rem;
}


.img-1{
    height: 50vh;
     grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../../images/latest-article.jpg);
filter: brightness(0.3);
}

.img-2{
    height: 22vh;
   grid-column-start: 2;
   background-image: url(../../images/latest-article.jpg);

}

.img-3{
    background-color: aqua;
    height: 26vh;
    grid-column-start: 2;
    background-image: url(../../images/latest-article.jpg);

}

.img-1 span{
 display: flex;
 justify-content: center;
 align-items: center;
 color: #fff;
 filter: none;
} 