.latest-card-main-container{
    border:2px solid rgb(211, 209, 209);
    width: 20%;
    margin-left: 5%;
    margin-top: 2%;
    text-align: justify;
}

.latest-card-main-container img{
    width: 100%;
}

.latest-card-info-container{
    width: 80%;
    margin-left: 10%;
}
.latest-card-info-container p{
    width: 80%;
    margin-left: 10%;
}

.latest-card-info-container span{
    
    font-size: 1.8rem;
    font-weight: bold;
}