    .article-main-container{
        display: flex;
        width: 90%;
        margin-left: 5%;
        gap: 50px;
        height: fit-content;
    }

    .article-card-container{
    
        flex-basis: 70%;
        flex-direction: column;
    
    }

    .post-advertisement-container{
    
        flex-basis: 30%;
        height: 100vh;
    }

    .containerText{
        flex-basis: 30%;
    
    }

    .top-post-conatiner{
        height: fit-content;
    
    }


    .post-image-container img{
        width: 100%;
        border-radius: 5px;
    }

    #post-title{
        font-weight: bold;
        font-size: 2rem;
    }

    #post-number{
        font-size: 6rem;
        color: lightgray;
        font-weight: bold;
    }

    .post-head-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .post-info-container{
        border-bottom: 2px solid lightgray;
    }

    .post-info-container1{
        display: flex;
        margin-bottom: 25px;
        border-bottom: 2px solid lightgray;
    }

    .post-image-container1 img{
        width: 100%;
        border-radius: 5px;
    }

    .post-head-container1{
        display: flex;
        
        
    }

    .post-image-container1{
        width: 30%;
        padding: 10px;
    }

    #post_title{
        font-weight: bold;
        font-size: 1.4rem;
    }

    #post_num{
        font-weight: bold;
        font-size: 4rem;
        color: lightgray;
    }

    .try_head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
    }

    .article-image-container{
        width: 30%;
        padding: 10px;
    }
    .article-image-container img{
        width: 100%;
        border-radius: 5px;
    }

    .article-content-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        gap: 20px;
        border-bottom: 2px solid lightgray;
        border-top: 2px solid lightgray;
    }

    .articles-main-img{
        margin: 100px 0;
    background-image: url(../images/latest-article.jpg);
    height: 550px;
    background-position: center;
    background-size: cover;
    
    text-align: center;
    padding: 200px 0;
    box-sizing: border-box;
    color: #fff;
    border-radius: 10px;
    }

    @media screen and (min-width:300px) and (max-width:640px) {
        
        .article-main-container{
            display: flex;
            flex-direction: column;
        }
        
        .artilce-title-container h2 {
            font-size: 16px;
            
        }
        .artilce-title-container p,span {
            font-size: 11px;
            
        }

        .article-content-container{
            display: flex;
            justify-content: space-evenly;
            margin: 0;
        }

        .article-image-container img{
            width: 110px;
            height: 115px;
        }
        /* .artilce-title-container{
            width: 50% !important;
        }

        .article-image-container{
            width: 50% !important;
            
        } */
        h3{
            width: 60% !important;
        }
    }
