.blog-main-container {
    width: 45%;
    margin: 50px auto;
  }
  
  .blog-main-container .icons-container {
    position: absolute;
    left: 12%;
    top: 70%;
  }
  
  .blog-main-container .icons-container span {
    margin-left: 10px;
  }
  
  .blog-main-container .icons-container div,
  .blog-keyword-container div {
    display: flex;
    align-items: center;
  }
  
  .blog-main-container .icons-container img {
    width: 20px;
  }
  
  .blog-main-container img {
    margin: 24px 0;
    width: 100%;
  }
  
  .blog-keyword-container span {
    background-color: #f2f2f2;
    color: #a2a2a2;
    margin: 0 10px;
    padding: 0 5px;
  }
  
  .blog-keyword-container img {
    width: 25px;
  }
  
  .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .author-info .author-social-profiles {
    font-size: 25px;
    color: #a2a2a2;
    cursor: pointer;
  }
  

  .WritenBy-details{
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    
  }

  .WritenBy-details span{
    color: #000;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .author-container div{
    flex-direction: column;
  }
  
  @media screen and (min-width: 300px) and (max-width: 600px) {
    .blog-main-container {
      margin-top: 100px;
      width: 90%;
    }
  
    .blog-main-container .icons-container {
      display: none;
    }
  }
  